/* ===== ESTILOS DEL PANEL DE ESCRITORIO ===== */
body {
background: #f3f3ff;
font-family: "Poppins", sans-serif;
padding: 0;
margin: 0;
}


.header {
background: linear-gradient(90deg, #5b6bff, #8b37ff);
padding: 20px;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
}


.header h1 {
font-size: 26px;
font-weight: 700;
}


.btn-cerrar {
background: #ffffff33;
padding: 10px 18px;
border-radius: 10px;
color: white;
font-weight: bold;
cursor: pointer;
border: none;
transition: .3s;
}


.btn-cerrar:hover {
background: #ffffff55;
}


.contenedor-escritorio {
width: 90%;
margin: 30px auto;
background: white;
border-radius: 15px;
padding: 30px;
box-shadow: 0px 8px 22px rgba(0,0,0,0.1);
}


.card {
background: #fff;
padding: 20px;
border-radius: 12px;
box-shadow: 0 5px 12px rgba(0,0,0,0.1);
margin-bottom: 20px;
transition: .3s;
}


.card:hover {
transform: translateY(-4px);
}