/* ===== FORMULARIO DE REGISTRO ===== */
body {
background: linear-gradient(135deg, #6a5acd, #8a4fd7);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family: "Poppins", sans-serif;
}


.contenedor-registro {
background: white;
width: 450px;
padding: 40px;
border-radius: 15px;
box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


.contenedor-registro h2 {
text-align: center;
font-size: 28px;
margin-bottom: 25px;
font-weight: 700;
}


label {
font-weight: 600;
margin: 8px 0 5px;
display: block;
}


input {
width: 100%;
padding: 12px;
margin-bottom: 15px;
border-radius: 8px;
border: 1.5px solid #cccccc;
transition: .2s;
}


input:focus {
border-color: #754bff;
outline: none;
box-shadow: 0 0 5px rgba(117, 75, 255, .5);
}


.btn-registrar {
width: 100%;
padding: 13px;
background: linear-gradient(90deg, #5177ff, #7e3aff);
color: white;
border: none;
border-radius: 8px;
font-weight: bold;
cursor: pointer;
}


.btn-registrar:hover {
opacity: .9;
}


.text-login {
margin-top: 18px;
text-align: center;
}


.text-login a {
color: #4e32ff;
font-weight: bold;
text-decoration: none;
}